<% layout('/layouts/boilerplate') -%>


    <h1>Edit The Listing</h1>
    <div class="row">
      <div class="col-8 offset-2">
        <!-- <form method="post" action="/listings/<%= listing._id %>/edit" novalidate class="needs-validation"></form> -->
        <form method="post" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
          <div class="mb-3 mt-3">
            <label for="title" class="form-label"> Title </label>
            <input type="text " value="<%= listing.title %>" name="listing[title]" class="form-control" required>

            <div class="valid-feedback">Correct Inforamtion</div>
            <div class="invalid-feedback">please enter valid Inforamtion</div>

          </div>
          <div class="mb-3">
            <label for="description" class="form-label"> Description </label>
            <textarea name="listing[description]" id="" rows="10" cols="35" class="form-control"><%= listing.description %></textarea>


          </div>
          <div class="image mb-3">
            <p>Listing Image</p>
            <img src="<%= originalImageUrl %>" alt="">
            

          </div>
          <div class="mb-3">
             <lable for="image" class="form-label"> Upload New Image </lable>
            <input type="file" name="listing[image][url]" id="" class="form-control"> 
              
          

          </div>
          <div class="mb-3">
            <div class="mb-3 col-md-4">
              <label for="price" class="form-label"> Price </label>
              <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control">


            </div>
            <div class="mb-3 col-md-8">
              <label for="location" class="form-label"> Location </label>
              <input type="text" name="listing[location]" value="<%= listing.location %>" class="form-control">


            </div>
          </div>

          <div class="mb-3">
            <label for="country" class="form-label"> Country </label>
            <input type="text" name="listing[country]" id="" value="<%= listing.country %>" class="form-control">


          </div>

          <button class="btn btn-dark edit_btn mt-3 ">Edit</button>

        </form>
      </div>
    </div>

    
    
